
html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.freckles{
  font-family: 'Freckle Face', cursive;
}

.fakeimg {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/a6.jpeg");
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("images/bg20.jpeg"); */
   
    /* background-image: url(images/a6.jpeg); */
    height: 100%;
    /* background-size: cover; */
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  box-sizing: border-box;
  /* background-color: rgba(0,0,0,0.5); */
  /* flex-wrap: wrap; */

}

.fakeimgContent{
    /* margin: 0px auto;
    padding: 0px; */
    /* position: absolute;
    
    top: auto; */
    /* padding-top: 190px; */
    /* margin-top: 50px; */
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.bgModify{
  position: absolute;
  /* top: 20%;
  left: 30%; */
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 80vh;
  border-radius: 10px;
  /* border: 1px solid black; */
  /* width: 80%;
  height: 80%; */
  /* background-color: green; */
  /* background: rgba(52, 58, 64,0.4); */

  background: #343A40;
  background: rgba(52, 58, 64,0.4);
  /* background: transparent; */

  border: 3px solid #212529;
  box-shadow:0 0 10px#212529;
}

.navbar-collapse{
text-align: center;
}



.site-title{

    padding: 0;
    margin: 0;
    font-family: 'Freckle Face', cursive;
    font-size: 5vw;
    
    /* color: rgb(117, 2, 2); */
    color: rgb(254, 194, 7);
    padding: 20px 20px 20px 20px;
    background-color: rgba(52, 58, 64,0.8);
    border-radius: 20px;
    /* border: 3px solid  rgb(254, 194, 7);
    box-shadow:0 0 10px rgb(254, 194, 7); */
    /* box-sizing: border-box; */

    border: 3px solid #212529;
    box-shadow:0 0 10px#212529;
    
    /* box-shadow:0 0 10px#28a745;
    border: 3px solid #28a745; */
}

.site-desc{

    padding: 0;
    margin: 0;
    font-size: 3vw;
    font-family: 'Freckle Face', cursive;
    /* color: rgb(42, 6, 6); */
    color:rgb(217, 41, 56);
    /* color: green; */
    /* padding: 20px 40px 30px 80px; */

    padding: 10px 40px 10px 80px;
    background-color: rgba(52, 58, 64,0.8);
    border-radius: 20px;
    text-align: center;
    /* box-shadow:0 0 10px rgb(254, 194, 7);
    border: 3px solid rgb(254, 194, 7); */

    border: 3px solid #212529;
    box-shadow:0 0 10px#212529;
/* 

    box-shadow:0 0 10px#28a745;
    border: 3px solid #28a745; */

}

.card-border{
  border: none ;
}
.active a,
.active {
  color: rgb(217, 41, 56) !important; 
} 

.navFont{
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Freckle Face', cursive;
     font-size: x-large;
   }

  .about-me{
      height: 100vh;
  }

  

.loader{
  position: absolute;
  /* display: flex; */
  padding: 100px;
  align-items: center;
  background: white;
  /* padding-top: 0%; */
  /* top: 50%;
  left: 50%; */
  top: 70rem;
  left: 50%;
  /* top: 30px; */
  /* transform: translate(-50%, -50%) rotate(0deg); */
  animation: rotate 20s linear infinite;
  filter: blur(10px) contrast(15);
  z-index: -1;
  }
  
  @keyframes rotate {
    from{
      transform: translate(-50%, -50%) rotate(0deg) ;
    }
    to{
      transform: translate(-50%, -50%) rotate(360deg) ;
    }
    }
  
  .particle{
    background:rgb(217, 41, 56);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: block;   
    overflow: hidden;
  }
  .particle:first-child,
  .particle:nth-child(5){
    width: 125px;
    height: 125px;
  }
  .particle:nth-child(1),
  .particle:nth-child(3),
  .particle:nth-child(5),
  .particle:nth-child(7),
  .particle:nth-child(9){
    animation: pulse1 1.3s ease-in-out infinite;
  }
  .particle:nth-child(3){
    animation-delay: .25s;
  }
  
  .particle:nth-child(5){
    animation-delay: .75s;
    /* background: yellow; */
  }
  
  .particle:nth-child(7){
    animation-delay: 1.5s;
  }
  
  .particle:nth-child(9){
    animation-delay: .3s;
    /* background: yellow; */
  }
  .leftspin{
    animation: leftspin 2.5s linear infinite;
  }
  
  .rightspin{
    animation: rightspin 2s linear infinite;
  }
  @keyframes pulse1{
    0% { transform: scale(1)}
    50% { transform: scale(1.9)}
    70% { transform: scale(0.6)}
    100% { transform: scale(1)}
  }
  
  @keyframes leftspin{
  from{
    transform: rotate(0deg) translate(50px);
  }
  to{
    transform: rotate(360deg) translate(50px);
  }
  }
  
  @keyframes rightspin{
    from{
      transform: rotate(360deg) translate(50px);
    }
    to{
      transform: rotate(0deg) translate(50px);
    }
    }


  .about-meFlex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }

  .about-meDesc{
    background-color: #212529;
    box-shadow: 0 0 10px#212529;
    height: fit-content;
    width: 40%;
    margin-top: 30px;
    text-align: center;
  }


  .img-thumbnail{
    border: 3px solid #212529;
    box-shadow:0 0 10px#212529;
    height: auto;
    width: auto;
/* height: 350px;
width: 350px; */
  }
  


  .about-me-title{
  text-align: center;
  font-size: 40px;
padding-top: 50px;
color: rgb(217, 41, 56);
    
}

  .skills{
    height: 100vh;
    /* background-color:rgb(217, 41, 56); */
    background-color: rgba(3, 3, 3, 0.8);
    display: table;
    width: 100%;
}

.skillsFlex{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
/* flex-wrap: wrap; */
}

.skillsFlex div{
  margin-top: 10%;
  text-align: center;
  width: 15rem;

  /* background-color: red; */
}

.skillsFlex h3{
  color: white;
  font-family: 'Freckle Face', cursive;
}

.skillsFlex p{
  color: white;
  /* font-family: 'Freckle Face', cursive; */
}

.techskills{
    height: 50%;
    /* background-color:rgb(217, 41, 56); */
    /* background-color: rgba(52, 58, 64,0.8); */
    /* background-color: rgba(209, 0, 0, 0.8); */
    background-color: rgba(3, 3, 3, 0.8);
    /* display: table;  */
}

.skills-text{
  font-family: 'Freckle Face', cursive;
  text-align: center;
  font-size: 40px;
padding-top: 30px;
color:rgb(254, 194, 7)

}

.projects{
    height: 100vh;
    background-color:white;
    /* overflow: scroll; */
    /* display: flex; */
}

.projects h1{
  color: rgb(217, 41, 56);
}

.projectsContent{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10rem;

  /* border: 3px solid #212529;
  box-shadow:0 0 10px#212529; */
}

.contact{
    height: 100vh;
    background-color:#353535;
}






.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  /* border: 3px solid #212529; */
  box-shadow:0 0 10px#212529;
  
}

.flip-card button{
background-color:rgba(3, 3, 3, 0.2);
border-radius: 20px;

  border: 3px solid  #28a745;
  box-shadow:0 0 10px #28a745;

/* color: red; */
cursor: pointer;
/* font-size: 16px; */
text-align: center;
padding: 10px 30px;

}

.flip-card a{
  font-family: 'Freckle Face', cursive;
  text-align: center;
  font-size: 20px;
/* padding-top: 30px; */
color:rgb(254, 194, 7)
}

.flip-card p{
  color: white;
}

.flip-card h3{
  color: black;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: rgba(3, 3, 3, 0.8);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h3{
  font-family: 'Freckle Face', cursive;
  text-align: center;

color:white;
}
/* .cardfloat{
  
    float: left;
    
}
 */

 @media screen and (max-width: 500px) {
  .site-title {
    text-align: center;
    font-size :50px;
    padding: 10px 0px 10px 0px;
    /* padding: 0; */
    
  }

  .bgModify{
    position: absolute;
    /* top: 20%;
    left: 30%; */
    top: 58%;
    left: 45%;
    /* transform: translate(-50%, -50%); */
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    /* border: 1px solid black; */
    /* width: 80%;
    height: 80%; */
    /* background-color: green; */
    background-color: rgba(52, 58, 64,0.4);

    display: none;
  }
  
  .site-desc{

      font-size:20px;
      
margin: 0 auto;
padding: 10px 0px 10px 0px;
  
  }
  #site-descId.animated{
    -webkit-animation-duration: none;
animation-duration: none;
-webkit-animation-fill-mode: none;
animation-fill-mode: none;
  }
}

  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .card1,.card2,.card3 {
      width: 100%;
      /* float:none; */
    }
    .techskills-align{
      width: 60px;
      height: 40px;
    }

    .projects{
      /* height: fit-content; */
      background-color:gray;
      /* margin-bottom: 10px; */
  }

  .projectsContent{
    padding-top: 1rem;
    /* margin-bottom: 70px; */
    /* height: fit-content; */
  }
  
  .flip-card{
    margin-bottom: 10px;
  }
  .contact{
    height: fit-content;;
}





}



@media screen and (max-width: 990px) {
  .card1,.card2,.card3{
    width: 50%;
    /* float:none; */
  }


.techskills{
  height: 110%;
  background-color:rgb(217, 41, 56);
}


.projects{
height: fit-content;
background-color:gray;
/* overflow: scroll; */
/* display: flex; */
}
.projectsContent{
padding-top: 1rem;
/* height: fit-content; */
}

.about-meDesc{
  width: 90%;
}
.about-me{
  height: fit-content;
}
.flip-card{
margin-bottom: 10px;
}

.particle{
  display: none;
}

}




.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 600;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid #66DC71;
}
.li.complete .status:before {
  background-color: #66DC71;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #66DC71;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}
